/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 * @generated-id: 3499fb328556
 */

import { GleanCore } from "../core.js";
import {
  appendForm,
  encodeFormQuery,
  encodeSimple,
  normalizeBlob,
} from "../lib/encodings.js";
import {
  bytesToBlob,
  getContentTypeFromFileName,
  readableStreamToArrayBuffer,
} from "../lib/files.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import * as components from "../models/components/index.js";
import { GleanBaseError } from "../models/errors/gleanbaseerror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { isBlobLike } from "../types/blobs.js";
import { Result } from "../types/fp.js";
import { isReadableStream } from "../types/streams.js";

/**
 * Import an agent
 *
 * @remarks
 * Imports an [agent](https://developers.glean.com/agents/agents-api) from its on-disk folder representation (spec.yaml, instructions.md, skills/, subagents/) packaged as a zip, and creates or updates the agent. Inverse of the export flow: the folder-to-schema conversion runs server-side. The bundle must contain only regular files; symlinks are resolved by the caller at packaging time.
 */
export function clientAgentsImport(
  client: GleanCore,
  importAgentRequest: components.ImportAgentRequest,
  agentId: string,
  locale?: string | undefined,
  timezoneOffset?: number | undefined,
  options?: RequestOptions,
): APIPromise<
  Result<
    components.ImportAgentResponse,
    | errors.ErrorResponse
    | GleanBaseError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    importAgentRequest,
    agentId,
    locale,
    timezoneOffset,
    options,
  ));
}

async function $do(
  client: GleanCore,
  importAgentRequest: components.ImportAgentRequest,
  agentId: string,
  locale?: string | undefined,
  timezoneOffset?: number | undefined,
  options?: RequestOptions,
): Promise<
  [
    Result<
      components.ImportAgentResponse,
      | errors.ErrorResponse
      | GleanBaseError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const input: operations.ImportAgentRequest = {
    importAgentRequest: importAgentRequest,
    agent_id: agentId,
    locale: locale,
    timezoneOffset: timezoneOffset,
  };

  const parsed = safeParse(
    input,
    (value) => operations.ImportAgentRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = new FormData();

  if (isBlobLike(payload.ImportAgentRequest.bundle)) {
    const file = payload.ImportAgentRequest.bundle;
    const blob = await normalizeBlob(file);
    const name = "name" in file ? (file.name as string) : undefined;
    appendForm(body, "bundle", blob, name);
  } else if (isReadableStream(payload.ImportAgentRequest.bundle.content)) {
    const buffer = await readableStreamToArrayBuffer(
      payload.ImportAgentRequest.bundle.content,
    );
    const contentType =
      getContentTypeFromFileName(payload.ImportAgentRequest.bundle.fileName)
      || "application/octet-stream";
    appendForm(
      body,
      "bundle",
      bytesToBlob(buffer, contentType),
      payload.ImportAgentRequest.bundle.fileName,
    );
  } else {
    const contentType =
      getContentTypeFromFileName(payload.ImportAgentRequest.bundle.fileName)
      || "application/octet-stream";
    appendForm(
      body,
      "bundle",
      bytesToBlob(payload.ImportAgentRequest.bundle.content, contentType),
      payload.ImportAgentRequest.bundle.fileName,
    );
  }
  if (payload.ImportAgentRequest.commitMessage !== undefined) {
    appendForm(body, "commitMessage", payload.ImportAgentRequest.commitMessage);
  }
  if (payload.ImportAgentRequest.gitAuthorId !== undefined) {
    appendForm(body, "gitAuthorId", payload.ImportAgentRequest.gitAuthorId);
  }
  if (payload.ImportAgentRequest.gitCommitSha !== undefined) {
    appendForm(body, "gitCommitSha", payload.ImportAgentRequest.gitCommitSha);
  }
  if (payload.ImportAgentRequest.isDraft !== undefined) {
    appendForm(body, "isDraft", payload.ImportAgentRequest.isDraft);
  }
  if (payload.ImportAgentRequest.syncMode !== undefined) {
    appendForm(body, "syncMode", payload.ImportAgentRequest.syncMode);
  }

  const pathParams = {
    agent_id: encodeSimple("agent_id", payload.agent_id, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path = pathToFunc("/rest/api/v1/agents/{agent_id}/import")(pathParams);

  const query = encodeFormQuery({
    "locale": payload.locale,
    "timezoneOffset": payload.timezoneOffset,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.apiToken);
  const securityInput = secConfig == null ? {} : { apiToken: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "importAgent",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.apiToken,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    components.ImportAgentResponse,
    | errors.ErrorResponse
    | GleanBaseError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, components.ImportAgentResponse$inboundSchema),
    M.jsonErr(404, errors.ErrorResponse$inboundSchema),
    M.fail([400, 401, 403, "4XX"]),
    M.fail([500, "5XX"]),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
